<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body >
  <h1>Hello from ejs</h1>

  <table>
    <thead>
      <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Price</td>
        <td>Description</td>
        <td> <a href="/products/create"> Create </a> </td>
      </tr>
    </thead>

    <tbody>
      <% products.map( (p) => { %> 
        <tr>
          <td> <%= p.id %></td>
          <td> <%= p.name %></td>
          <td> <%= p.price %></td>
          <td> <%= p.description %></td>
          <td> 
            <a href="/products/<%= p.id %>"> Show </a> 
            <a href="/products/create"> Edit </a>

            <form action="/products/<%= p.id %>" method="post">
              <input type="submit" value="Delete">
            </form>
          </td>

        </tr>
      <% }) %>
    </tbody>
  </table>

</body>
</html>